Systest Failure: 'test_chunked_download'.

The following file fails the chunked_download test.

https://github.com/googleapis/google-resumable-media-python/blob/master/tests/system/requests/test_download.py#L63-L71

Test: tests/system/requests/test_download.py::test_chunked_download 

Possibly related to #49



Tracking this internally 121376753

```python
____________________________ test_chunked_download _____________________________
Traceback (most recent call last):
  File "/home/tseaver/projects/agendaless/Google/src/grmp/tests/system/requests/test_download.py", line 411, in test_chunked_download
    total_bytes, actual_contents)
  File "/home/tseaver/projects/agendaless/Google/src/grmp/tests/system/requests/test_download.py", line 383, in consume_chunks
    response = download.consume_next_chunk(authorized_transport)
  File "/home/tseaver/projects/agendaless/Google/src/grmp/google/resumable_media/requests/download.py", line 225, in consume_next_chunk
    self._process_response(result)
  File "/home/tseaver/projects/agendaless/Google/src/grmp/google/resumable_media/_download.py", line 348, in _process_response
    callback=self._make_invalid)
  File "/home/tseaver/projects/agendaless/Google/src/grmp/google/resumable_media/_helpers.py", line 64, in header_required
    response, u'Response headers must contain header', name)
google.resumable_media.common.InvalidResponse: ('Response headers must contain header', 'content-length')
```

Followup with some details:

If transfer-encoding is set, the spec dictates that "The Content-Length header field MUST NOT be sent if these two lengths are different (i.e., if a Transfer-Encoding header field is present)."
Because there's  Transfer-Encoding header set on that response. See RFC 2616 section 4.4, #3:

If a Content-Length header field (section 14.13) is present, its decimal value in OCTETs represents both the entity-length and the transfer-length. The Content-Length header field MUST NOT be sent if these two lengths are different (i.e., if a Transfer-Encoding header field is present).


I can tweak the handling for that, but then we run up against the same underlying issue in our system test for the gzipped file:  instead of getting the file in chunks, we get it all in one blast, because `requests` handles the unzipping for us.  We may need to investigate using [`response.raw`](http://2.python-requests.org/en/master/user/quickstart/?highlight=gzip#raw-response-content).

@tseaver Very valid comments, and thanks for the reference. There's another [PR](https://github.com/googleapis/google-resumable-media-python/pull/85) for another OOSLO issue that engages `response.raw` and is pending code review.